AWS_REGION=us-east-1
AWS_ACCESS_KEY_ID=dummy
AWS_SECRET_ACCESS_KEY=dummy123

SAM_LAMBDA_ENDPOINT=http://127.0.0.1:3001

S3_ENDPOINT=http://localhost:9000
SQS_ENDPOINT=http://localhost:9324
SQS_QUEUE_URL=http://localhost:9324/000000000000/loyalty-cards
